@charset "UTF-8";

	body{
		margin : 0px;
		background-color : #f6f6f6;
	}
	
	.main{
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	height:auto;
	width:1170px;
	display:flex;
	}
	
	
	.mainbac{
		padding-bottom:150px;
		margin-left:auto;
		margin-right:auto;
		width:1170px;
		height:auto;
		text-align : center;
	}
	table{
	border-collapse:collapse;
	}
	

	
	